#helpBox{

    border: 1px solid black;
    width: 70%;
    min-height: 300px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}

#helph1{

    float: left;
    text-indent: 10px;

}

#helpImg{

    border: none;
    height: 250px;
    width: 400px;
    float: right;
    margin-top: -200px;
    margin-right: 10px;
    
}

.helpBtns{
    
    margin-top: 100px;
    margin-bottom: 20px;
    text-indent: 200px;
}

#helpText{
    border: 1px solid black;
    width: 50%;
    min-height: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#startBtn{

    background-color: aqua;
    padding: 7px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 10px;
}

#learnBtn{

    background-color: rgb(5, 114, 114);
    padding: 7px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 10px;
}

#startBtn:hover{
    background-color: grey;
    cursor: pointer;
}

#learnBtn:hover{
    background-color: grey;
    cursor: pointer;
}

.askCommunity{

    border: 1px solid black;
    margin-top: 100px;
    width: 400px;
    margin-left: 250px;
    height: 100px;
    background-color: azure;
}

.makeRequest{

    border: 1px solid black;
    margin-top:-100px;
    width: 400px;
    margin-left: 850px;
    height: 100px;
    background-color: azure;
}

#faqBtn{

    background-color: rgb(5, 114, 114);
    padding: 7px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 10px;
    width: 70px;
}

#faqBtn:hover{
    background-color: grey;
    cursor: pointer;
}